* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali per la pagina*/
.padding_top_standard {
  padding-top: 30px;
}
.padding_top_small {
padding-top: 8px;
}
.padding_bottom_small {
padding-bottom: 8px;
}
.padding_bottom_standard {
  padding-bottom: 30px;
}
.bg_green {
  background-color: lightgreen;
}
.bg_lightblue {
  background-color: lightblue;
}
.bg_blue {
  background-color: navy;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.text_white {
  color: white;
}
/* fine regole generali per la pagina*/


/* header */
.top_header{
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* fine header */

/* main */
.box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
  margin: 5px 0;
}
/* fine main */

/* footer */
footer {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.upper_footer {
  height: 80px;
}
.lower_footer {
  height: 80px;
}
/* fine footer */
