* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quadruple {
font-size: 4em;
}

.menu_nav ul li a {
font-weight: bold;
color:white;
text-decoration: none;
margin-left: 50px;

}
.SOCIAL  {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 70px;
}
.SOCIAL i {
margin-top: 40px;
font-size: 3em;
}
#PORT{
font-weight: bold;
}
/* regole generali per la pagina*/
.padding_top_standard {
  padding-top: 30px;
}
.padding_top_small {
padding-top: 8px;
}
.padding_bottom_small {
padding-bottom: 8px;
}
.padding_bottom_standard {
  padding-bottom: 30px;
}
.bg_green {
  background-color:#28a745;
}
.bg_lightblue {
  background-color:#2c3e50;
}
.bg_blue {
  background-color: #2c3e50;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.text_white {
  color: white;
}
/* fine regole generali per la pagina*/


/* header */
.top_header{
  background-color: #2c3e50;
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.jumbo_tron {
  padding-top: 150px;
}
/* fine header */
.jumbo_tron img {
width: 30%;
MARGI
}

/* main */
.box {
  margin: 5px 0;
}
.box img {
width: 100%;
border-radius: 5px;
}
.stella {
margin-top: 20px;
margin-bottom: 20px;
}

#subm {
margin-bottom: 35px;
}
#areatesto {
margin-right: 50px;
}
/* fine main */
.hamburger {
font-size: 3em;
margin-right: 30px;
}
/* footer */
footer {
  background-color: #2c3e50;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.upper_footer {
  height: 80px;
}
.lower_footer {
  height: 80px;
}
/* fine footer */
.half {
  font-size: 0.5em;
}
.one_point_five {
  font-size: 1.5em;
}
.double {
  font-size: 2em;
}
.triple {
  font-size: 3em;
}
@media screen and (max-width:768px) {

  #title {
  font-size: 1.5em;
  }
  .upper_footer h2 {
  font-size: 0.8em;
  }
  .jumbo_tron h1 {
  font-size: 1.5em;
  }
  .upper_footer p {
  font-size: 0.6em;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

}
